---
pagination:
  data: ghost.pages
  size: 1
  alias: doc
permalink: "/{{ doc.slug }}/"
---

{% extends "base.njk" %}

{% block title %}{{ doc.title }}{% endblock %}

{% block main %}
  <h1>{{ doc.title }}</h1>
  {{ doc.html | safe }}
{% endblock %}
